install.packages ("gplots", repos = "http://cran.wustl.edu", lib = "[% rlib %]")
install.packages ("RCurl", repos = "http://cran.wustl.edu", lib = "[% rlib %]")
install.packages ("matR", type = "source", repos = NULL, lib = "[% rlib %]")
library (matR)
dependencies ()
